td,
th {
    box-sizing: content-box;
}

table {
    width: 100%;
}

#box {
    width: 200px;
    height: 200px;
    border: solid 10px green;
    margin: 10px;
    padding: 10px;
}

body {
    margin: 50px;
}
